.designatedfont {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.03em;
}
.container{
  padding:10px;
}
.bigtext {
  font-size: 30;
}
.midtext {
  font-size: 20;
}
.liltext{
  font-size: 15;
}
.underlinelink {
  color: black;
}

.nav-li {
  padding:.5em;
}
.underlinelink:hover {
  color: black;
  background-color: yellow;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  z-index: -1;
}

.gsapplogo {
  width: 100px;
  height: auto;
}

ul {
  list-style-type: none;
}
@media only screen and (max-width:575px){
 .gsapplogo {
  width: 80px;
  }
  .footer{
    position: relative;
    height:90px;
  }
  .liltext{
    font-size: 20;
  }
}
